<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectfirebase">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectFirebase">
        <activity
            android:name=".format_tampilan_penjualan"
            android:exported="false" />
        <activity
            android:name=".TampilHasilPenjualan"
            android:exported="false" />
        <activity
            android:name=".Jual_Barang"
            android:exported="false" />
        <activity
            android:name=".Tampil_data_jual"
            android:exported="false" />
        <activity
            android:name=".ActivityTentang"
            android:exported="false" />
        <activity
            android:name=".UpdateData"
            android:exported="false" />
        <activity
            android:name=".format_tampilan"
            android:exported="true" />
        <activity
            android:name=".Tampil_data_guru"
            android:exported="true" />
        <activity
            android:name=".FormulirPegawai"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>